.header {
    max-width: 882px;
    margin: 45px auto 0;
    padding: 0;
    border-bottom: solid 1px rgb(84, 84, 84, 0.7);
}

@media screen and(max-width:768px) {
    .header {
        margin: 28px auto; 
    }
}